USE GuitarApp
go
BEGIN

---danh sach dan
SELECT MADAN, MDLDAN
FROM GUITAR

--liet ke dan va loai dan tuong ung
SELECT MADAN, MDLDAN, TENLOAI
FROM GUITAR
INNER JOIN LOAIDAN
ON dbo.GUITAR.MALOAI=dbo.LOAIDAN.MALOAI
--hien thi thong tin dan chua ban duoc

SELECT MADAN, MDLDAN,SLTON
FROM GUITAR
WHERE MADAN NOT IN(
SELECT MADAN FROM HDX)

--hien thi thong tin va so luong ban cua dan Ban chay nhat
SELECT TOP 1 MDLDAN,SUM(SLX)
FROM GUITAR G,HDX H
WHERE H.MADAN=G.MADAN
GROUP BY MDLDAN
ORDER BY SUM(SLX)DESC
--xuat ra so hoa don cua khach hang (duoc nhap tu ban phim) va tinh tong tien cua tung hoa don
SELECT TENKH, COUNT(SOHDX) AS SOLANMUA, SUM(SLX*DGX) AS TONGDONGIA
FROM HDX,KH 
WHERE dbo.HDX.MAKH=dbo.KH.MAKH
GROUP BY TENKH

--tim xuat theo hieu loai go top/back/side/fing

SELECT TENHIEU,TENTOP,TENSIDE,TENBACK ,TENNECK, TENFING ,ELE
FROM HIEUDAN H, THONGSO T, GOTOP P, GOBACK B, GOFING F, GOSIDE S, GUITAR G,GONECK N
WHERE H.MAHIEU = G.MAHIEU
AND T.MATOP=P.MATOP
AND T.MABACK=B.MABACK
AND T.MAFING=F.MAFING
AND T.MASIDE=S.MASIDE
AND T.MADAN=G.MADAN
AND T.MANECK=N.MANECK
ORDER BY TENHIEU ASC

--KH VIP
ALTER PROC VIP  
AS
BEGIN
	SELECT K.MAKH,TENKH,DCKH,DTKH,EMKH
	INTO KH_VIP
	FROM KH K, HDX H
	WHERE K.MAKH=H.MAKH
	GROUP BY K.MAKH,TENKH,DCKH,DTKH,EMKH
	HAVING SUM (SLX*DGX)>=10000000
	SELECT * FROM KH_VIP
END
VIP



--lay ra danh sach khach hang da mua trong ngay X

CREATE PROC SP1 (@X DATETIME)
AS 
	BEGIN
		IF NOT EXISTS (SELECT NGAYX FROM CT-HDX WHERE NGAYX = @X)
			PRINT 'KHONG CO KHACH HANG NAO TRONG NGAY NAY'
		ELSE
			SELECT *
			FROM KH K, HDX H
			WHERE H.MAKH=K.MAKH AND @X=NGAYX
	END
SET DATEFORMAT DMY
SP1 '12/5/2010'


--ngay nhap hang gan nhat
SELECT*
FROM HDN
WHERE NGAYN >= (SELECT MAX(NGAYN)
FROM HDN)

--tong doanh thu

CREATE FUNCTION DT (@THANG INT , @NAM INT)
RETURNS TABLE
AS
	RETURN
		(SELECT THANG=MONTH(NGAYX), NAM=YEAR(NGAYX), DOANHTHU=SUM(SLX*DGX)
		 FROM HDX H, [CT-HDX] C
		 WHERE H.SOHDX=C.SOHDX AND YEAR(NGAYX)=@NAM AND MONTH(NGAYX)=@THANG
		 GROUP BY MONTH(NGAYX), YEAR(NGAYX)
		)
SELECT * FROM DBO.DT(5,2016)

--hien note cua ngay hom qua va ngay hom nay
SELECT *
FROM NOTES
WHERE NGAYLAP >= (SELECT MAX(NGAYLAP) FROM NOTES)

SELECT TOP 7 NGAYLAP, GHICHU
FROM NOTES
WHERE NGAYLAP <(SELECT MAX(NGAYLAP) FROM NOTES)
GROUP BY NGAYLAP, GHICHU
ORDER BY NGAYLAP DESC


--dan ton kho it nhat, nhieu nhat
SELECT MAX(SLTON) AS [SỐ LƯỢNG TỒN NHIỀU NHẤT]
FROM GUITAR

SELECT MIN(SLTON) AS [SÓ LƯỢNG TỒN ÍT NHẤT]
FROM GUITAR


--HDX, HDN theo ngay thang nam
SELECT * 
FROM HDX
GROUP BY SOHDX,MAKH,USERID,NGAYX
ORDER BY NGAYX

SELECT *
FROM HDN
GROUP BY SOHDN,USERID,NGAYN
ORDER BY NGAYN

--xuat HDX theo userid va tim userid co tong gia hd cao nhat, nhieu nhat

SELECT *
FROM HDX
ORDER BY USERID

SELECT  TOP 1 N.USERID, SUM(SLX*DGX) AS TONGGTHD
FROM NV N, HDX H, [CT-HDX] C
WHERE N.USERID = H.USERID AND C.SOHDX = H.SOHDX
GROUP BY N.USERID
ORDER BY COUNT(N.USERID) DESC

SELECT  TOP 1 N.USERID , COUNT(C.SOHDX) AS SOLUONGHD
FROM NV N, HDX H, [CT-HDX] C
WHERE N.USERID=H.USERID AND C.SOHDX=H.SOHDX
GROUP BY N.USERID
ORDER BY COUNT(N.USERID) DESC

--hien thi thong tin khach hang da tung mua tai cua hang

SELECT *
FROM KH
WHERE MAKH IN (SELECT MAKH FROM HDN)

--xuat ra sohd cua kh va tong gia tri tung hd
SELECT H.SOHDX,K.MAKH,TENKH,SUM(C.SLX*C.DGX) AS TONGTIENHD
FROM HDX H, KH K, [CT-HDX] C
WHERE H.MAKH = K.MAKH AND H.SOHDX=C.SOHDX 
GROUP BY H.SOHDX,K.MAKH,TENKH
---- ham tinh doanh thu voi ma khach hang la tham so truyen vao
ALTER FUNCTION KHACH (@MAKH VARCHAR(10))
RETURNS TABLE 
AS
RETURN
	(SELECT SUM(SLX*DGX) AS TONGDOANHTHU,K.MAKH,TENKH
	 FROM [CT-HDX] C, KH K, HDX H
	 WHERE K.MAKH=@MAKH AND C.SOHDX= H.SOHDX AND H.MAKH=K.MAKH
	 GROUP BY K.MAKH, TENKH
	)	
SELECT * FROM DBO.KHACH('KH-0003')