--Xuất HDX/HDN theo tên KH ,số HD
SELECT*
FROM HDX H, KH K
WHERE H.MAKH=K.MAKH
ORDER BY TENKH

SELECT*
FROM HDX H, KH K
WHERE H.MAKH=K.MAKH
ORDER BY SOHDX

SELECT*
FROM HDN H
ORDER BY SOHDN

--Tìm KH có tổng giá trị HD cao nhất, HD nhiều nhất
SELECT TOP 1 TENKH, COUNT(dbo.[CT-HDX].SOHDX) as SLX
FROM KH,HDX, [CT-HDX]
WHERE dbo.KH.MAKH=dbo.HDX.MAKH and dbo.[CT-HDX].SOHDX=dbo.HDX.SOHDX
GROUP BY TENKH

SELECT TOP 1 TENKH, sum(SLX*DGX) as TGT
FROM KH,[CT-HDX],HDX
WHERE dbo.KH.MAKH=dbo.HDX.MAKH and dbo.[CT-HDX].SOHDX =dbo.HDX.SOHDX
GROUP BY TENKH

--Tổng doanh thu trong 1 tháng, 1 năm
/* SELECT TenKH, SUM (SLX*DGX) AS DoanhThu
FROM KH, HDX,[CT-HDX]
WHERE dbo.KH.MaKH = dbo.HDX.MAKH and dbo.HDX.SOHDX = dbo.[CT-HDX].SOHDX
AND datepart( */

CREATE FUNCTION F1(@NAM INT)
RETURNS NUMERIC (10,0)
AS
BEGIN
	DECLARE DOANHTHU NUMERIC(10,0)
	SET DOANHTHU=(
		SELECT SUM(SLX*DGX)
		FROM [CT-HDX] , HDX
		WHERE dbo.[CT-HDX].SOHDX=dbo.HDX.SOHDX AND YEAR (NGAYX)=NAM )
RETURN @DOANHTHU